extends layout.pug

block content
    .container
        each bug in bugs
            table.bug-table.table.table-striped
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b #id:
                        .col-sx-12.col-sm-10.col-md-10
                            p #{bug.id}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b Date:
                        .col-sx-12.col-sm-10.col-md-10
                            p #{bug.createdAt}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b API Version:
                        .col-sx-12.col-sm-10.col-md-10
                            p #{bug.api}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b Manufacturer:
                        .col-sx-12.col-sm-10.col-md-10
                            p #{bug.manufacturer}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b Device Model:
                        .col-sx-12.col-sm-10.col-md-10
                            p #{bug.model}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b Error Message:
                        .col-sx-12.col-sm-10.col-md-10
                            p #{bug.msg}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b Stacktrace:
                        .col-sx-12.col-sm-10.col-md-10
                            pre #{bug.stacktrace}
                tr.row
                    td
                        .col-sx-12.col-sm-2.col-md-2
                            b Cause:
                        .col-sx-12.col-sm-10.col-md-10
                            pre #{bug.cause}
