doctype 5
html
    head
        title= "RMBER " + title
        script(src='/src/public/minified/scripts.min.js')
        link(rel='stylesheet', href='/src/public/minified/styles.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navBar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href= online ? '/api/user/docs' : '/docs')
                        | RMBER
                #navBar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right.collapsed
                        li(class=homeNav ? 'active' : '')
                            a(href='/')
                                | Home
                        li(class=docsNav ? 'active' : '')
                            a(href='/docs')
                                | Docs
                        li(class=bugsNav ? 'active' : '')
                            a(href='/bugs')
                                | Bug Reports
    block content
